<%= simple_form_for product_path, method: :patch  do |f| %>  
    <h1 class="heading">Edit Product</h1>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :Description %>
      <%= f.input :Price %>
      <%= f.input :Category, collection: ["footwear", "accessories", "menswear", "womenswear"] %>
      <%= f.file_field :Picture %>
    </div>
    <br>
    <br>
    <p>
        <%= link_to 'Submit', product_path, method: :patch %>
    </p>
    <br>
    <p>
        <%= link_to 'Back', products_path %>
    </p>
  <%end%>